.header{
    width: 100%;
    height: 83px;
    border-bottom: 1px solid;  
    display: flex;
    align-items: center;
    @media (max-width:550px) {
        height: 55px;
    }
}
.title{
    font-family: Inter;
    font-size: 23px;
    font-weight: 900;
    letter-spacing: 0em;   
    @media (max-width:550px) {
        font-size: 16px;
    }
}
.nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 150px 0px 30px;
    user-select: none;
    @media (max-width:550px) {
        padding: 0px 20px 0px 20px;
    }
}
.menu{
    display: flex;
    gap: 56px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0em;
    p {
     cursor: pointer;
    }
    @media (max-width:550px) {
        display: none;
    }
}
.search{
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 900px;
   @media (max-width:550px) {
    width: max-content;
    flex-direction: row-reverse;
    gap: 30px;
   }
}
.blockedText{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0em;
    cursor: pointer;
}
.burger{
 display: none;
 @media (max-width:550px) {
    display: block;
    width: 40px;
    height: 40px;
 }
}
.selected{
   display: flex;
   align-items: center;
   gap: 24px;
   font-family: Inter;
   font-size: 25px;
   font-weight: 400;
   letter-spacing: 0em;
   margin-left: 132px;
   @media (max-width:550px) {
    margin-left: 0;
    gap: 5px;
    font-size: 20px;
   }
}
.closeIcon{
   width: 30px;
   height: 30px;
   user-select: none;
   cursor: pointer;
}
.actionsIcon{
    width: 20px;
    height: 20px;
    user-select: none;
    cursor: pointer;
}
.timeText{
  color: #0074FF;
  font-family: Inter;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0em;
  @media (max-width:550px) {
    font-size: 20px;
  }
}
.maximumQuantity{
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0em;
    color: gray; 
    @media (max-width:550px) {
        font-size: 15px;
      }   
}
.teacherButton{
 @media (max-width:550px) {
    display: none;
 }
}

.side{
    position: fixed;
    top: 0;
    right: 0;
    width: 216px;
    height: 100%;
    background: rgb(255, 255, 255);
    animation: showSide 0.5s ease;
    @media (max-width: 5000px) {
        display: none;
    }
    @media (max-width: 550px) {
        display: block;
    }
}
@keyframes showSide {
    from{
        opacity: 0;
        width: 0;
    }
    to {
        opacity: 1;
        width: 216px;
    }
}
.closeSide{
    user-select: none;
    transform: rotate(5deg);
}
.sideNav{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0em;    
    color: #000000;
    margin-left: 18px;
    margin-top: 31px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}